body {
    margin: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.page-up{
    padding-bottom: 112px;
    padding-top: 72px;
}

.page-down{

}

.main-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px;
    flex: 1;
    flex-wrap: wrap;
    height: 540px;
}

.intro-section {
    padding-right: 34px;
}

.intro-logo {
    width: 330px;
    padding-top: 75px;
    padding-right:  230px;
}

.intro-tagline {
    margin: 0;
    font-size: 29px;
    color: #1c1e21;
    width: 471px;
    line-height: 32px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.login-section {

}

.login-right{
    padding-top: 10px ;
    margin-top: 40px;
}

.login-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    height: 320px;

}

.input-field {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 18px;
}

.input-field::placeholder {
    color: #90949c;
}
.input-field:focus::placeholder {
    color: #b5b4b4; /* 當輸入框獲得焦點時，隱藏提示文字 */
}
.input-field:focus {
    outline: none; /* 先移除預設的藍框（不同瀏覽器有差） */
    border: 1px solid #1877f2; /* Facebook 藍色 */
    box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.2); /* 額外光暈效果，可選 */
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #0866ff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 21px;
    cursor: pointer;
    font-weight: bold;
}

.login-button:hover {
    background-color: #1877f2;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
    color: #0866ff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-line{
    padding: 5px;
    border-bottom: 1px solid #dadde1;
    max-width: 500px;
}

.register-button {
    min-width: 120px;
    width: auto;
    padding: 10px 18px;
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
}

.register-button:hover {
    background-color: #36a420;
}

.login-under{
    padding-top: 28px;
    text-align: center;
    font-size: 15px;
}

.login-under-link{
    color: #050000;
    font-weight: bold;
    text-decoration: none;
}

.login-under-link:hover {
    text-decoration: underline;
}
.footer-b{
    width: 100%;
    background-color: #ffffff;
}
.footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #606770;
    justify-items: center;
    height:185px  ;
}
.footer-line{
    padding: 5px;
    border-bottom: 1px solid #dadde1;
    width: 100%;
}

.link{
    padding-bottom: 30px;
    margin: 10px;
    font-size: 13px;
    line-height: 1.8
}
.link_top{
    padding-bottom: 20px;
}

.footer .language-links a,
.footer .other-links a {
    color: #8a8d9e;
    text-decoration: none;
    margin: 0 5px;
    padding-top: 8px;
}

.footer .language-links a:hover,
.footer .other-links a:hover {
    text-decoration: underline;
}

.footer-copyright{
    display: flex;
    width: 55%;
}

.footer .copyright {
    margin-top: 10px;
    text-align: left;
    color: #90949c;
}

