body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 修改為居中 */
    align-items: center; /* 水平居中 */
    height: 100%;
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    position: relative;
    flex: 1;
    flex-wrap: wrap;
    border-bottom: 1px solid #dadde1;
    padding-bottom: 190px;
    width: 980px;
}

.intro-section {
    flex: 1;
    text-align: left;
    padding-right: 100px;
}

.intro-logo {
    width: 400px;
    margin-bottom: 5px;
}

.intro-tagline {
    font-size: 24px;
    color: #1c1e21;
    line-height: 1.5;
}

.login-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    height: 320px;
}

.input-field {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    font-size: 18px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #165cdb;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-line{
    padding: 10px;
    border-bottom: 1px solid #dadde1;
}

.register-button {
    width: 120px;
    padding: 10px;
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 19px;
    cursor: pointer;
    margin-top: 30px;
}


.register-button:hover {
    background-color: #36a420;
}

.login-under{
    padding-top: 28px;
    text-align: center;
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #606770;
}

.footer .language-links a,
.footer .other-links a {
    color: #1877f2;
    text-decoration: none;
    margin: 0 5px;
}

.footer .language-links a:hover,
.footer .other-links a:hover {
    text-decoration: underline;
}

.footer .copyright {
    margin-top: 10px;
    color: #90949c;
}
